{{extend 'layout_en.html'}}

<!-- ############################### navbar ################################  -->
<nav class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right " style="padding-right:90px;">
        <li class="page-scroll" style="padding-right:30%">
            <a id="up" href="#page-top" style="color:white">Top</a>
        </li>
        
        
    </ul>
</nav>
<!-- ############################### navbar ends ################################  -->
<div class="container-fluid" >
  <div class="row-fluid" >
<hr>
<div class="jumbotron col-lg-8">
  <h1>Who we are</h1>
  <p>We are a group of people who want to learn, love and enjoy in Christ Jesus.<br><br>

    We want to be a friendly church where you and your family may receive love and direction from Jesus, our Lord and Savior. <br><br>
    We are a church that comes together for the only reason of giving honor and glory to God the Father, God the Son and God the Holy Spirit, through the teaching of the Bible verse by verse.<br><br>

    We are a church that rejoices in worshiping God through music and testimonies of gratitude, of the blessings from God to the families in church. <br><br>
    We are a church that promotes Christian fellowship and harmony among believers, worshiping God through loving one another and intercession through prayer.<br><br>

    With joy we hope that you can visit us; and even more that you wish to be part of the Antioquía Family.
  </p>
  
</div>
<div class="col-lg-3 col-lg-offset-1 jumbotron hidden-xs hidden-sm hidden-md"><br><br>
  <img src="{{=URL('static/images','people.jpg')}}" alt="..." class="img-circle" height="160px;" width="160px;"><br><br><br><br><br><br>
  <img src="{{=URL('static/images','band.jpg')}}" alt="..." class="img-circle" height="160px;" width="160px;"><br><br><br><br><br><br>
  <img src="{{=URL('static/images','outreach.jpg')}}" alt="..." class="img-circle" height="160px;" width="160px;">
  <br><br>
</div>

</div>
</div>

