{{extend 'layout_b.html'}}


<nav class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right " style="padding-right:90px;">
        <li class="page-scroll">
            <a id="up" href="#page-top" style="color:#7B8491;">Ir Arriba</a>
        </li>
        
    </ul>
</nav>


<div class="container-fluid" id="main">
  
    
    
    <div class="col-md-10 col-md-offset-1" name="hola" style="padding-top:40px">
      <div class="row"><div class="col-md-2 hidden-xs hidden-sm" align="center">
        <img style="padding-left:0px;" src="{{=URL('static/images','casa_.png')}}" alt="..." class="img-rounded img-responsive">
        </div>
        <div class="col-md-10">
        <h1>Centro Comunitario Casa Abierta</h1>
        </div>
        
      </div>

      <hr>
        <ul style="background-color:#6F6E75;" class="nav nav-tabs">
        <li class="active"><a href="#ejecutivas" data-toggle="tab">Acciones Ejecutivas</a></li>
        <li class=""><a href="#ayudah" data-toggle="tab" >Acciones de Ayuda Humanitaria</a></li>
        <li class=""><a href="#motivos" data-toggle="tab">Motivos de Oración</a></li>
        <li class="" data-toggle="modal" data-target="#ModalImgs"><a><i class="fa fa-lg fa-picture-o"></i>&nbsp; Imágenes</a> </li>
        
      </ul>
      <hr>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="ejecutivas">
          <div class="alert alert-dismissable alert-success">
            <h4>“Por tanto, vayan y hagan discípulos de todas las naciones, enseñándoles a obedecer todo lo que les he mandado a ustedes.”&nbsp;&nbsp;MATEO 28:19-20</h4>
          </div>
          
           <h4 style="text-align:center">Llevando palabra de esperanza a la comunidad</h4> <br>
            <blockquote>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Escuela bíblica: clases para niños, adolescentes, jóvenes y adultos.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Consejería bíblica familiar: para fomentar la armonía familiar.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Consejería para matrimonios: a fin de evitar el quebranto del matrimonio y promover el hogar cristiano.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Pláticas sobre roles y responsabilidades de los miembros de la familia, como familia y como miembro.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Estrategias de evangelismo: diseño de estrategias prácticas y llevar acciones evangelísticas, que permitan el encuentro con Jesús y así fomentar y aumentar la fe en Jesús.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Convivencia bíblica infantil recreativa: realizar eventos infantiles con el fin de crear un club de niños que fomente la relación del niño con Jesús y reconozca el amor de dios en sus vidas.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Convivencia bíblica de matrimonios, varones y mujeres: realizar eventos para adultos que les permita conocer otra alternativa de distracción sin los ponderantes del mundo y puedan invitar a Jesús a sus corazones.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Recreación a través de películas cristianas y seculares de comedia sana, que les permita la diversión familiar en un ambiente que exprese el amor de Dios y fomente la unión familiar.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Canalizar a aquellas personas que entreguen su vida a Cristo, hacia la iglesia, donde encontrarán el amor de Dios en la familia espiritual.<br></h5>
            </blockquote>

        </div>
        <div class="tab-pane fade" id="ayudah">
          <div class="alert alert-dismissable alert-danger">
            <h4>“Porque somos hechura de Dios, creados en Cristo Jesús para buenas obras, las cuales Dios dispuso de antemano a fin de que las pongamos en práctica”&nbsp;&nbsp;EFESIOS 2:10</h4>
          </div>
          
          <blockquote>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Asesoría profesional: laboral, penal, civil, familiar, y las que se deriven de la problemática real de vida de la comunidad afín de facilitar la vida diaria de las familias.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Asesoría en la obtención, posesión y guarda de documentos oficiales: vitales para una vida personal y familiar.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Asesoría de orientación y canalización hacia las autoridades competentes: para dar solución a su problemática de vida.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Asesoría en la higiene y salud familiar: facilitando el acceso a los distintos medios y fundaciones que puedan atender en su conjunto al entorno de higiene y salud de la familia, al menor costo posible.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-long-arrow-right"></i> Asesoría académica: que permita a los niños de educación primaria y secundaria regularizarse en aquellas materias que han tenido dificultad de aprendizaje.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Pláticas y asesoría en la detección temprana de adicciones: como el alcoholismo, el cigarro y las drogas, canalizándolos a centros de rehabilitación.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Pláticas y orientación para evitar las relaciones sexuales fuera del matrimonio: y evitar el producto de ellas como las enfermedades y embarazos.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Fomentar equipos de futbol rápido, u otro deporte: como alternativa recreativa, que les sirvan como distractores de las adicciones y vicios del mundo.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Actividades y celebraciones de fechas especiales que fomenten el compañerismo y la recreación: que les permita momentos de distracción en medio de su situación de vida.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-long-arrow-right"></i> Capacitación de oficios: como costura, cocina, mecánica, bordados, manualidades y otros que les permitan un ingreso extra a su economía familiar.<br></h5>
            </blockquote>
        </div>
        
        <div class="tab-pane fade" id="motivos">
          <div class="alert alert-dismissable alert-info">
            <h4>"Clama a mí, y yo te responderé, y te enseñaré cosas grandes y ocultas que tú no conoces."&nbsp;&nbsp;Jeremias 33:3</h4>
          </div>
          
          <blockquote>
              <h5 align="justify">
                <i class="fa fa-2x fa-hand-o-up"></i> 1.– El centro se llama "CASA ABIERTA"  a una vida de calidad. Oremos para que el testimonio de Casa Abierta, sirva para atraer a la gente a un encuentro con Jesús y que Dios los capacite para llevar una vida de calidad<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-hand-o-up"></i> 2.- Oremos para que Dios fluya las finanzas para la renta y mobiliario y equipo para acondicionar la casa, donde se desarrollan las acciones de CASA ABIERTA<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-hand-o-up"></i> 3.- Ya tenemos el contacto con el centro de Salud del gobierno y ellos nos apoyaran con el camión de análisis clínicos para mujeres cuando lo solicitemos, también con conferencias sobre higiene personal y familiar. Oremos para que se fortalezca la relación y se aproveche el apoyo.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-hand-o-up"></i> 4.– Hay una pareja de hermanos en la fe en Jesús que están apoyando con un médico al mes y un cuadro de medicinas más amplio para que se ataquen un mayor número de enfermedades. Oremos por ellos para que Dios los prospere espiritual y físicamente y los materialmente.<br></h5>
              <h5 align="justify">
                <i class="fa fa-2x fa-hand-o-up"></i> 5.– Necesitamos llevar conferencias sobre adicciones, sexualidad y de lo que necesiten los jóvenes para una mejor calidad de vida aun en su entorno de vida. Oremos para que el Dios provea de los conferencistas e instituciones que apoyen esta acción.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-hand-o-up"></i> 6.- Estamos buscando contacto con la Secretaria de Educación y Cultura (SEC) del estado de Sonora para que nos apoyen en la inscripción y seguimiento de niños en la escuela y también en la alfabetización de la comunidad y la enseñanza abierta. Oremos por para que Dios abra las puertas de la SEC y del instituto de educación abierta para preparar a los niños y no pierdan un año de educación escolar.<br></h5>
              <h5 align="justify">   
                <i class="fa fa-2x fa-hand-o-up"></i> 7.– En la ESCUELA BÍBLICA CASA ABIERTA ya tenemos una matricula de 20 adultos, 6 jóvenes adolescentes y 30 niños de 4 años hasta 10 años. Oremos por los maestros, y porque Dios provea de mobiliario y equipo, actualmente las clases se realizan con los niños sentados en el suelo.<br></h5>
              
            </blockquote>
        </div>
        
      </div><br>
    </div>
  
</div>


<div class="modal fade bs-example-modal-lg" id="ModalImgs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Centro Comunitario Casa Abierta</h4>
      </div>
      <div class="modal-body">
        
        {{=LOAD( url=URL(a='imgs', c='default', f='casaabierta', user_signature=True), ajax=True, content= IMG(_src=URL(request.application,'static','images/301.GIF')) )}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
  

