{{extend 'layout_b.html'}}


<nav class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right " style="padding-right:90px;">
        <li class="page-scroll" >
            <a id="up" href="#page-top" style="color:#7B8491;">Ir Arriba</a>
        </li>
        
    </ul>
</nav>


<div class="container-fluid" id="main">
  <div class="row-fluid">

    <div class="col-md-1 hidden-xs hidden-sm" style="background-color:rgba(153,54,51,0.90);">
	    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	    </div>
    <div class="col-md-1 hidden-xs hidden-sm">
	    <div class="col-md-6" style="background-color:#54647B;">
	    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	    </div>
    </div>
    
    <div class="col-md-10" name="hola">
    <h1>Estudios Bíblicos en Casa</h1><hr>
    	<div class="row-fluid">
    		<div class="well" style="background-color:#6F6E75;color:#ebebeb">
			  "Toda la Escritura es inspirada por Dios y útil para enseñar,  para reprender,  para corregir y para instruir en la justicia." 2 Timoteo 3:16
			</div>
    	</div>
	    <div class="row">
		    <div class="col-lg-6">
		    	<p align="justify">Las casas de estudio bíblico, es un lugar atendido por damas y para damas, que te ofrecen la posibilidad de estudiar la Biblia de forma seria y sistemática, apoyando tu interés de conocer de Jesús. 

				En las casas de estudio bíblico, hay mujeres que ya han encontrado a Jesús como su señor y salvador, y que han abierto sus casas para recibirte con gozo y están dispuestas a llevarte a un encuentro con Jesús.

				Estamos convencidos de que una de las mayores necesidades de la humanidad y en especial del pueblo de Dios, tiene que ver con el conocimiento de su Palabra.
				</p>
		    </div>
		    <div class="col-lg-6">
		    	<img class="img-thumbnail img-responsive" src="{{=URL('static/images','banner_estudios.jpg')}}" height="200px;">
		    </div>
		</div>
		<div class="row">
		    <div class="col-lg-6">
		    	<p align="justify">Las casas de estudio bíblico te ofrece la posibilidad de estudiar la Biblia en un ambiente fraternal, en donde podrás expresar y encontrar la respuesta correcta, a cualquier tipo de inquietud que tengas sobre tu vida espiritual, porque estamos seguros de que el llegar a una casa de estudio bíblico, no es casualidad sino que forma parte del plan de Dios.

				Ten la seguridad de que eres bienvenida a alguna de las casas de estudio bíblico, porque que es para nosotros un placer el recibirte.
				</p><br>
		    </div>
		    <div class="col-lg-6">
		    <br>
		    	<div class="col-lg-6">
		    	<address>
                    <strong>Viernes 9:00 AM</strong><br><br>
                    <a href="{{=URL('default','DondeEstamos#casa')}}">
                    Los nogales Nº. 34<br>
                    Col. Las fuentes<br>
                    Hermosillo, Sonora, México<br>
                    </a>
                  </address>
		    	</div>
		    	<div class="col-lg-6">
		    	<address>
                    <strong>Miércoles 5:00 PM</strong><br> <br>
                    <a href="{{=URL('default','DondeEstamos#casa')}}">
                    Villa del Norte Nº 72 <br>
                    Col. Residencial Milán<br>
                    Hermosillo, Sonora, México<br>
                    </a>
                  </address>
		    	</div>
		    </div>
		</div>
	</div>

  </div>
</div>