{{extend 'layout_b.html'}}

<!-- ############################### navbar ################################  -->
<nav class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right " style="padding-right:90px;">
        <li class="page-scroll">
            <a id="up" href="#page-top" style="color:#494950">Ir Arriba</a>
        </li>
        
        
    </ul>
</nav>
<!-- ############################### navbar ends ################################  -->
<div class="container-fluid" >
  <div class="row-fluid" >
<hr>
<div class="jumbotron col-lg-8">
  <h1>Quiénes Somos</h1>
  <p>Somos un grupo de personas que deseamos aprender, amar y gozar en Cristo Jesús.<br><br>

    Deseamos ser una iglesia cálida, donde tú y tu familia puedan recibir de Jesús nuestro Señor y Salvador su amor y su dirección. <br><br>
    Somos una iglesia que se reúne solo para dar la honra y la gloria a Dios Padre, Dios Hijo y Dios espíritu santo, mediante la enseñanza de la Biblia versículo por versículo. <br><br>
    Somos una iglesia que nos gozamos en adorar a Dios por medio de la música y los testimonios de agradecimiento de la bendiciones de Dios en las familias de la iglesia. <br><br>
    Somos una iglesia que promueve el compañerismo cristiano y la armonía entre los creyentes adorando a Dios por medio del amor de los unos a los otros y la intercesión por medio de la oración. <br><br>

    Con gozo esperamos que nos puedan visitar y más aun que deseen ser parte de la Familia Sinaí.
  </p>
  
</div>
<div class="col-lg-3 col-lg-offset-1 jumbotron hidden-xs hidden-sm hidden-md"><br><br><br>
  <img src="{{=URL('static/images','circle1.jpg')}}" alt="..." class="img-circle" height="160px;" width="160px;"><br><br><br><br><br><br>
  <img src="{{=URL('static/images','circle2.jpg')}}" alt="..." class="img-circle" height="160px;" width="160px;"><br><br><br><br><br><br>
  <img src="{{=URL('static/images','circle3.jpg')}}" alt="..." class="img-circle" height="160px;" width="160px;">
  <br><br><br><br>
</div>

</div>
</div>


